@model SeoToolsMainApp.Api.UrlSearchResult

<div class="card">
    <div class="card-header">
        <h3>Ссылки на сторонние сервисы</h3>
    </div>
    <div class="card-block">
        <ul class="list-group">
            <li class="list-group-item">                
                <a href="@Model.YandexSearch" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Поиск в Яндексе по теме
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.YandexImagesSearch" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Поиск изображений в Яндексе
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.YandexIndexPagesSearch" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Поиск индексированных страниц в Яндексе
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.YandexNewsSearch" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Поиск новостей в Яндексе
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.YandexVirusCheck" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Проверка на вирусы Яндексом
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.YandexOrphographyCheck" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Проверка орфографии яндексом
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.GoogleSearch" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Поиск в Google по теме
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.GoogleImagesSearch" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Поиск изображений в Google
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.GoogleSafeBrowserCheck" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Проверка на вирусы Google
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.LinkPadStatistics" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Каталоги на LinkPad
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.DmozCatalog" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Каталоги на Dmoz
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Model.LiveInternetCatalog" target="_blank">
                    <div class="btn btn-secondary btn-block">
                        Каталоги на LiveInternet
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>